{% extends 'index.html' %}
{% block content %}
    <style>
        .container {
            width: 100%;
            min-height: 100%;
            display: flex;
            justify-content: center;
            align-items: middle;
        }

        .info-container {
            margin: auto;

            margin-top: 5rem;
            padding: 5rem;
            display: inline-block;
            background-color: white;
        }
        .item-box {
            margin: auto;
            display: flex;
            justify-content: space-between;
        }
        .
    </style>
<div class="container">
    <div class="info-container border border-primary rounded-lg">
        <div class="item-box">
            <div class="category">
                <p>Username:</p>
            </div>
            <div class="mx-auto text-center">
                <p>{{user.username}}</p>
            </div>
        </div>
        <div class="item-box d-flex justify-content-between mx-auto">
            <div class="category">
                <p>First Name:</p>
            </div>
            <div class="mx-auto">
                <p>{{user.first_name}}</p>
            </div>
        </div>
        <div class="item-box d-flex justify-content-between mx-auto">
            <div class="category">
                <p>Last Name:</p>
            </div>
            <div class="mx-auto text-center">
                <p>{{user.last_name}}</p>
            </div>
        </div>
        <div class="item-box d-flex justify-content-between mx-auto">
            <div class="category">
                <p>Email:</p>
            </div>
            <div class="mx-auto text-center">
                <p>{{user.email}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}