{% extends 'index.html' %}

{% load crispy_forms_tags %}
{% block content %}
    <style>
        .container {
        }
    </style>
    <div class="container d-flex justify-content-center">
        <div class="form-container mx-auto mt-5">
            <form method="post" class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
                <button type='submit' class='btn btn-success'>Login</button>
            </form>
            <p>Don't have an account yet? Register <a href="{% url 'user_account:register' %}">here</a></p>
        </div>
    </div>
{% endblock %}