<style>
    h1 {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    footer {
        text-align: center;
        margin: auto;
    }

    #contact {
        padding-bottom: 32px;
    }

    #contact a {
        text-decoration: none;
        font-size: 1.5em;
        color: #524dce;
        box-shadow: inset 0px -8px 0px 0px #9ff1de;
        transition: color 150ms ease-out, box-shadow 150ms ease-out;
    }

    #copywright {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #90a5bc;
        text-align: center;
    }
</style>

<footer class="mt-5">
    <section id="contact">
        <h1>GET IN TOUCH</h1>
        <a href="mailto:info@scanslated.com">info@scanslated.com</a>
    </section>
    <section id="copywright">
        <p>
            &#169;
            <script>document.write(new Date().getFullYear());</script>
            ScanSlated, Inc.
        </p>
    </section>
</footer>